.cell {
  border: 1px solid black;
  /* width: 200px;
  height: 200px; */
}

#parent {
	margin-left: auto;
  margin-right: auto;
  width: 512px;
}


.container {
	perspective: 1000px;
  position: absolute;
  height: 128px;
  width: 128px;
  z-index: -1;
}
/* .container, .front, .back {
	width: 320px;
	height: 480px;
} */
.flipCard {
  height: 128px;
  width: 128px;
	transition: 0.8s;
	transform-style: preserve-3d;
  position: absolute;
  z-index: 0;
}

.front, .back {
	backface-visibility: hidden;
}
.front {
	z-index: 2;
	transform: rotateY(0deg);
  position: absolute;
  top: 0px;
}
.back {
  height: 128px;
  width: 128px;
  z-index: 1;
  position: relative;
	transform: rotateY(-180deg);
}
#crown {
  height: 400px;
  width: 400px;
  margin-left: 200px;
  margin-right:200px;
}
#box {
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right:auto;
}
#imgBox {
  width:100px;
}
#spanBox {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}
button {
  height: 40px;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFD700;
  border: 5px solid black;
  font-size: 16px;
  font-weight: bold;
}
.star {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: 0;
}
/* #one{
  margin-left: 325px;
} */
span {
  font-size: 16px;
  font-family: helvetica;
}
header {
  width: 100%;
  display: flex;
flex-direction: column;
}
#titleDiv {
  /* display: block; */
  /* text-align: center; */
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
  width: 100%;
  position: relative;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lemon', cursive;
}
#starDiv {
  display: block;
  position: relative;
  width: 100%;
}
#starBox {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

footer {
  position: absolute;
  display: block;
  top: 800px;
  width: 100%;
}
#footerBox {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#timeDisplay{
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
