.cell {
  border: 1px solid black;
}

#parent {
	margin-left: auto;
  margin-right: auto;
  width: 512px;
}

.container {
	perspective: 1000px;
  position: absolute;
  height: 128px;
  width: 128px;
  z-index: -1;
}

.flipCard {
  height: 128px;
  width: 128px;
	transition: 0.8s;
	transform-style: preserve-3d;
  position: absolute;
  z-index: 0;
}

.front,
.back {
	backface-visibility: hidden;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
  position: absolute;
  top: 0;
}

.back {
  height: 128px;
  width: 128px;
  z-index: 1;
  position: relative;
	transform: rotateY(-180deg);
}

#crown {
  height: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#box {
  text-align: center;
  width: 67%;
  margin-left: auto;
  margin-right: auto;
}

#imgBox {
  width: 100%;
}

#spanBox {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

button {
  height: 40px;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFD700;
  border: 5px solid black;
  font-size: 16px;
  font-weight: bold;
}

.star {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: 0;
}

span {
  font-size: 16px;
  font-family: helvetica;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#titleDiv {
  text-align: center;
  width: 100%;
  position: relative;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  font-family: "Lemon", cursive;
}

#starDiv {
  display: block;
  position: relative;
  width: 100%;
}

#starBox {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

footer {
  position: absolute;
  display: block;
  top: 820px;
  width: 100%;
}

#footerBox {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

#timeDisplay {
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#restart {
  width: 120px;
}

@media screen and (max-width: 530px) {

  .cell,
  .pic,
  .container,
  .back,
  .flipCard {
    width: 65px;
    height: 65px;
  }

  #box {
    width: 270px;
  }

  button {
    border: 2px solid black;
    font-size: 12px;
  }

  #spanBox {
    width: 200px;
  }

  footer {
    top: 550px;
  }

  #footerBox {
    margin-left: 0;
  }

}
